In [47]:
import pandas as pd 
import datetime as dt
machineList = [[1, 2, 3], [1], [2], [1, 2], [2, 3]]
jobList = [1, 2, 3, 4, 5]
imputTimeList = [dt.datetime(2022, 8, 29, 10), dt.datetime(2022, 8, 29, 12), dt.datetime(2022, 8, 29, 13), dt.datetime(2022, 8, 29, 10), dt.datetime(2022, 8, 29, 9)]
deadlineList = [dt.datetime(2022, 8, 29, 13), dt.datetime(2022, 8, 29, 14), dt.datetime(2022, 8, 29, 15), dt.datetime(2022, 8, 29, 12), dt.datetime(2022, 8, 29, 12)]
durationList = [dt.timedelta(hours=1), dt.timedelta(hours=1.5), dt.timedelta(hours=0.5), dt.timedelta(hours=1), dt.timedelta(hours=0.5)]

data = {"machine": machineList, "jobID": jobList, "input": imputTimeList, "deadline": deadlineList, "duration": durationList}
df = pd.DataFrame(data=data)
df

     machine  jobID               input            deadline        duration
0  [1, 2, 3]      1 2022-08-29 10:00:00 2022-08-29 13:00:00 0 days 01:00:00
1        [1]      2 2022-08-29 12:00:00 2022-08-29 14:00:00 0 days 01:30:00
2        [2]      3 2022-08-29 13:00:00 2022-08-29 15:00:00 0 days 00:30:00
3     [1, 2]      4 2022-08-29 10:00:00 2022-08-29 12:00:00 0 days 01:00:00
4     [2, 3]      5 2022-08-29 09:00:00 2022-08-29 12:00:00 0 days 00:30:00

In [62]:
endtime = dt.datetime(2022, 8, 29, 0)
starttimeList = []
endtimeList = []
for i in range(len(df)): 

    if endtime <= df["input"].iloc[i]: 
        starttime = df["input"].iloc[i]
        print("start time: " + str(starttime))
        starttimeList.append(starttime)

        endtime = df["input"].iloc[i] + df["duration"].iloc[i]
        print("end time:   " + str(endtime))
        endtimeList.append(endtime)

    else:   
        starttime = endtime
        print("start time: " + str(starttime))
        starttimeList.append(starttime)

        endtime = starttime + df["duration"].iloc[i]
        print("end time:   " + str(endtime))
        endtimeList.append(endtime)

start time: 2022-08-29 10:00:00
end time:   2022-08-29 11:00:00
start time: 2022-08-29 12:00:00
end time:   2022-08-29 13:30:00
start time: 2022-08-29 13:30:00
end time:   2022-08-29 14:00:00
start time: 2022-08-29 14:00:00
end time:   2022-08-29 15:00:00
start time: 2022-08-29 15:00:00
end time:   2022-08-29 15:30:00

In [58]:
df['starttime'] = starttimeList
df['endtime'] = endtimeList
df

,machine,jobID,input,deadline,duration,starttime,endtime
0,"[1, 2, 3]",1,2022-08-29 10:00:00,2022-08-29 13:00:00,0 days 01:00:00,2022-08-29 10:00:00,2022-08-29 11:00:00
1,[1],2,2022-08-29 12:00:00,2022-08-29 14:00:00,0 days 01:30:00,2022-08-29 12:00:00,2022-08-29 13:30:00
2,[2],3,2022-08-29 13:00:00,2022-08-29 15:00:00,0 days 00:30:00,2022-08-29 13:30:00,2022-08-29 14:00:00
3,"[1, 2]",4,2022-08-29 10:00:00,2022-08-29 12:00:00,0 days 01:00:00,2022-08-29 14:00:00,2022-08-29 15:00:00
4,"[2, 3]",5,2022-08-29 09:00:00,2022-08-29 12:00:00,0 days 00:30:00,2022-08-29 15:00:00,2022-08-29 15:30:00

In [61]:
maketime = df['endtime'].iloc[-1] - df['starttime'].iloc[0] 
print("total maketime: " + str(maketime))

total maketime: 0 days 05:30:00

In [74]:
delayList = []
for i in range(len(df)):
    if df['endtime'].iloc[i] > df['deadline'].iloc[i]:
        delay = df['endtime'].iloc[i] - df['deadline'].iloc[i]
        print(delay)
        delayList.append(delay)
    else: 
        delay = pd.Timedelta(0)
        delayList.append(delay)

0 days 03:00:00
0 days 03:30:00

In [76]:
delayList
df['delay'] = delayList
df

,machine,jobID,input,deadline,duration,starttime,endtime,delay
0,"[1, 2, 3]",1,2022-08-29 10:00:00,2022-08-29 13:00:00,0 days 01:00:00,2022-08-29 10:00:00,2022-08-29 11:00:00,0 days 00:00:00
1,[1],2,2022-08-29 12:00:00,2022-08-29 14:00:00,0 days 01:30:00,2022-08-29 12:00:00,2022-08-29 13:30:00,0 days 00:00:00
2,[2],3,2022-08-29 13:00:00,2022-08-29 15:00:00,0 days 00:30:00,2022-08-29 13:30:00,2022-08-29 14:00:00,0 days 00:00:00
3,"[1, 2]",4,2022-08-29 10:00:00,2022-08-29 12:00:00,0 days 01:00:00,2022-08-29 14:00:00,2022-08-29 15:00:00,0 days 03:00:00
4,"[2, 3]",5,2022-08-29 09:00:00,2022-08-29 12:00:00,0 days 00:30:00,2022-08-29 15:00:00,2022-08-29 15:30:00,0 days 03:30:00

In [81]:
totalDelay = df['delay'].sum()
print(totalDelay)

0 days 06:30:00