In [22]:
import pandas as pd

In [23]:
df = pd.read_excel("../data/Auftragsfolgen-20211207.xlsx")

In [24]:
df

,Fefco_Teil,ArtNr_Teil,ID_Druck,Druckflaeche,Bogen_Laenge_Brutto,Bogen_Breite_Brutto,MaschNr,Start,Ende,Ruestzeit_Ist,...,KndNr,Suchname,AKNR,TeilNr,SchrittNr,Summe_Minuten,ID_Maschstatus,Maschstatus,Lieferdatum_Rohmaterial,BE_Erledigt
0,0201 GT man,11307,1,0.10,2808.0,979.0,SL 6 Glue-Tape,2016-02-26 11:48:21,2016-02-26 12:54:32,72,...,11052,VOSS MOEBEL,39473,1,1,66.0,0,Rüsten,2016-02-25,1.0
1,0201 G,10039,1,0.10,2168.0,1022.0,SL 2,2016-02-26 11:54:52,2016-02-26 14:10:06,168,...,12403,KOETTER,39961,1,1,136.0,0,Rüsten,2016-02-25,1.0
2,0410 NJA Q,16906,1,0.10,2029.0,1260.0,SL 7 H-Wkz,2016-02-26 11:58:29,2016-02-26 12:41:03,49,...,12516,STEENS GROUP,38882,1,1,43.0,1,Produktion,2016-02-18,1.0
3,0201 T (S/T),18198,1,0.10,4508.0,2242.0,Taper,2016-02-26 11:59:57,NaT,0,...,11334,CARTOFLEX,39956,1,2,NaN,2,Leerlauf,2016-02-24,1.0
4,0200 G man,11068,1,0.03,925.0,355.0,SL 5,2016-02-26 12:02:33,2016-02-26 12:04:27,2,...,11356,OESEDER,39611,1,1,2.0,0,Rüsten,2016-02-24,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529202,0201 G,25160,0,NaN,1221.0,491.0,SL 5,2021-12-06 01:28:09,2021-12-06 02:17:23,29,...,12017,PAP EMBALLAGE,125880,1,1,49.0,18,Minda Störung,2021-12-03,1.0
529203,0200 G man,28911,0,NaN,3982.0,2079.0,SL 6 Geglued,2021-12-06 01:58:51,2021-12-06 02:18:16,39,...,15615,SCHUMACHER PACKAGING,125542,1,1,20.0,5,Pause,2021-11-30,1.0
529204,0201 G,25160,0,NaN,1221.0,491.0,SL 5,2021-12-06 02:17:23,2021-12-06 02:30:16,29,...,12017,PAP EMBALLAGE,125880,1,1,13.0,1,Produktion,2021-12-03,1.0
529205,0200 G man,28911,0,NaN,3982.0,2079.0,SL 6 Geglued,2021-12-06 02:18:16,2021-12-06 03:59:06,39,...,15615,SCHUMACHER PACKAGING,125542,1,1,101.0,1,Produktion,2021-11-30,1.0
529206,0201 G,25160,0,NaN,1221.0,491.0,SL 5,2021-12-06 02:30:16,NaT,29,...,12017,PAP EMBALLAGE,125880,1,1,NaN,2,Leerlauf,2021-12-03,1.0

In [31]:
df['machine'] = df.apply(lambda row : str(row['MaschNr'][:5]).strip(), axis=1)
df = df[df.machine.str.startswith('SL')]

In [32]:
sorted(df['machine'].unique())

['SL 10', 'SL 11', 'SL 2', 'SL 4', 'SL 5', 'SL 6', 'SL 7', 'SL 8', 'SL 9']