In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
df = pd.read_excel("../data/Auftragsfolgen-20211207.xlsx")

/tmp/ipykernel_952753/3444081226.py:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df = pd.read_excel("../data/Auftragsfolgen-20211207.xlsx")

In [3]:
my_list = ["ArtNr_Teil","AKNR", "MaschNr", 'Bestell_Nutzen', "LTermin","SchrittNr","ID_Maschstatus","Maschstatus",'Lieferdatum_Rohmaterial']

In [4]:
short_df = df.iloc[:5000][my_list]

In [6]:
# For testing a date between 2016-02-03 and 2022-01-25
today = pd.to_datetime("2016-02-16").date()

In [5]:
short_df=short_df[["AKNR","Lieferdatum_Rohmaterial"]].drop_duplicates()

In [90]:
short_df.head()

    AKNR Lieferdatum_Rohmaterial
0  39473              2016-02-25
1  39961              2016-02-25
2  38882              2016-02-18
3  39956              2016-02-24
4  39611              2016-02-24

In [7]:
def material_check(set_date):

    def bool_material_check(LT):
        # wenn Liefertermin nicht bekannt, dann False
        if pd.isnull(LT): 
            return False
        # wenn der morgige Tag schon weiter in der Zukunft liegt, als das Datum des Liefertermins, dann True
        elif (set_date+timedelta(days=1))>=LT: 
            return True
        else:
            return False

    return bool_material_check

In [91]:
"""
In: Date for delivery of raw material
Out: True or False
"""
def material_check(LT):
    # wenn Liefertermin nicht bekannt, dann False
    if pd.isnull(LT): 
        return False
    # wenn der morgige Tag schon weiter in der Zukunft liegt, als das Datum des Liefertermins, dann True
    elif (today+timedelta(days=1))>=LT: 
        return True
    else:
        return False

In [8]:
short_df["Material_Check"] = short_df["Lieferdatum_Rohmaterial"].apply(material_check(today))

In [9]:
#"2016-02-28" Das war ein Schaltjahr. 
short_df.sort_values(by="Lieferdatum_Rohmaterial").head(50)

      AKNR Lieferdatum_Rohmaterial  Material_Check
162  38480              2016-01-27            True
392  39021              2016-02-02            True
415  39135              2016-02-05            True
589  39030              2016-02-08            True
134  39275              2016-02-09            True
120  39276              2016-02-09            True
574  39078              2016-02-10            True
526  39334              2016-02-11            True
226  39245              2016-02-12            True
408  39502              2016-02-15            True
217  39267              2016-02-15            True
479  39594              2016-02-17            True
474  39593              2016-02-17            True
259  39521              2016-02-17            True
764  39423              2016-02-18           False
383  39407              2016-02-18           False
340  39414              2016-02-18           False
359  39404              2016-02-18           False
141  39412              2016-02-18           False
345  39410              2016-02-18           False
335  39413              2016-02-18           False
370  39406              2016-02-18           False
140  39416              2016-02-18           False
763  39424              2016-02-18           False
213  39547              2016-02-18           False
2    38882              2016-02-18           False
806  39433              2016-02-18           False
442  39408              2016-02-18           False
8    39588              2016-02-18           False
32   39641              2016-02-18           False
207  39558              2016-02-19           False
224  39536              2016-02-19           False
307  39650              2016-02-19           False
471  39450              2016-02-19           False
159  39658              2016-02-19           False
230  39644              2016-02-19           False
64   39562              2016-02-19           False
20   39648              2016-02-19           False
354  39659              2016-02-19           False
57   39652              2016-02-19           False
71   39651              2016-02-19           False
55   39561              2016-02-19           False
45   39645              2016-02-19           False
100  39643              2016-02-19           False
211  39653              2016-02-19           False
128  39783              2016-02-22           False
658  39777              2016-02-22           False
665  39778              2016-02-22           False
770  39805              2016-02-22           False
668  39676              2016-02-22           False